body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea {
    margin: 0;
    padding: 0;
  }
  strong,h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
  }
  body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    overflow-x: hidden;
  }
  li {
    list-style: none;
  }
  img {
    border: none;
    font-size: 0;
    display: flex;
  }
  a {
    // display: table;
    text-decoration: none;
    color: black;
  }
  input{
    outline-style: none;
  }

@mixin position($position,$left,$top) {
    position: $position;
    left:$left;
    top: $top;
}
@mixin size($width,$height) {
    width: $width;
    height: $height;
}
/* top */
.index_top{
    width: 100%;
    height: 110px;
    background: url(../img/top.jpg) no-repeat center top;
    cursor: pointer;
}
/* head */
.header_main{
    width: 100%;
    height: 62px;
    background: #232323;
    .header{
        @include size(1012px,62px);
        
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &>a{
            @include size(207px,62px);
            background: url(../img/qf_logo.jpg) no-repeat;
        }
        ul{
            position: relative;
            display: flex;
            li{
                cursor: pointer;
                display: flex;
                align-items: center;
                a{
                    line-height: 1;
                    padding: 0 9px;
                    color: white;
                    border-right: 1px solid #666666;
                }
            }
            .kc_class{
                .class{
                    position: absolute;
                    display: flex;
                    background: #f15a23;
                    width: 776px;
                    z-index: 20000000;
                    transition: .3s;
                    height: 0px;
                    overflow: hidden;
                    align-items: center;
                    top: 62px;
                    left: 0;
                    a{
                        border: none;
                        padding: 0 6px;
                        display: flex;
                        flex-wrap: nowrap;
                    }
                }
            }
            .kc_class:hover .class{
                height: 35px;
            }
            li:hover{
                background: #f15a23;
            }
        }        
    }
}
/* banner */
.banner{
    @include size(1920px,420px );
    position: relative;
    margin: 0 auto;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
    border-bottom: 1px solid #a8a8a8;
    z-index: 100;
    .banner_con{
        position: relative;
        width: 100%;
        height: 420px;
            li{
                position: absolute;
                width: 100%;
                height: 420px;
                overflow: hidden;
                div{
                    width: 1012px;
                    height: 420px;
                    margin: 0 auto;
                    position: relative;
                    // img{
                    //     position: absolute;
                    // }
                }
            }
    }
    .banner_bottom{
        @include size(1920px,65px );
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: .65);
        position: absolute;
        bottom: -65px;
        z-index: 10;
        overflow: hidden;
        .small_img{
            display: flex;
            a{
                display: block;
                border: 1px solid yellow;
                margin-right: 10px;
                img{
                    @include size(120px,51px )
                }
            }

        }
    }

}
.list_main{
    width: 100%;
    height: 350px;
    background: #f5f5f5;
    .list{
        width: 1012px;
        margin: 0 auto;
        padding-top:35px ;
        display: flex;
        li{
            flex: 1;
            position: relative;
            display: flex;
            justify-content: center;
            em,i,span{
                position: absolute;
                display: block;
            }
            em{
                top: 20px;
                position: absolute;
                left: 50%;
                background: url(../img/qf_list_bg.png) no-repeat;
                width: 84px;
                height: 91px;
                z-index: 3;
                margin-left: -30px;
                transition: .5s;
            }
            i{
                background: url(../img/qf_list_bg.png) no-repeat;
                background-position: 0 -115px;
                 margin-left: -7px;
                 width: 84px;
                 height: 91px;
                 opacity: 0;
                 top: 100px;
                 transition: .5s;
                z-index: 2;
                //  top: 20px;
            }
            span{
                background: #eaeaea;
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                transition: .5s;
            }
            a{
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 120px;
                strong{
                    color: #252e3b;
                    line-height: 30px;
                    font-size: 22px;
                    text-align: center;
                }
                h4{
                    font-weight: normal;
                    color: #546c7d;
                    line-height: 24px;
                    padding: 9px 0 10px;
                }
            }
        }
        li:hover{
            i{
                top: 20px;
                opacity: 1;
            }
            em{
                top: -150px;
                opacity: 0;
            }
            span{
                height: 100%;
            }
        }
    }
}
.call{
    width: 1012px;
    margin: 0 auto;
    display: flex;
    padding:  30px 0 ;
    justify-content: space-between;
    .news{
        display: flex;
        width: 654px;
        .news_rg{
            padding-left: 15px;
            // border-right: 1px solid #e0e0ee ;
            h2{
                a{
                    color: #222;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            .news_con{
                h3{
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 0 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p{
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;
                    text-indent: 2em;
                    margin-bottom: 10px;
                }
                ul{
                    border-top: 1px dashed #a8a8a8;
                    padding-top: 10px;
                    li{
                        background: url(../img/news_jt.png) no-repeat left center;
                        padding: 3px 0 3px 12px;
                    }
                }
            }
        }
    }
    .coop{
        border-left: 1px solid#a8a8a8;
        padding-left: 30px;
        .coop_qq{
            height: 25px;
            margin: 14px 0 22px 0;
            span{
                margin-right: 22px;
                width: 101px;
                height: 25px;
                background: url(../img/qf_list_bg.png) no-repeat -30px -238px;
                padding-left: 10px;
                display: block;
            }
        }
        .coop_tel{
            font-size: 24px;
            color: #666;
            padding: 0 0 10px 0;
        }
        .coop_p1{
            line-height: 24px;
            font-size: 14px;
            color: #666;
        }
    }
}
.bottom{
    background: #222;
    height: 214px;
    width: 100%;
    .bottom_con{
        width: 1012px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .b_lt{
            display: flex;
            width: 493px;
            font-size: 12px;
            line-height: 24px;
            padding-top: 45px;
            li{
                display: flex;
                flex-direction: column;
                padding: 0 30px 0 10px;
                p{
                    color: white;
                    padding-bottom: 12px;
                }
                ul li {
                    padding: 0;
                 a{
                    color: #999;
                }
                }
            }
        }
        .rg{
            padding-top: 20px;
            display: flex;
            .b_rg{
                padding-left: 20px;
                margin-right: 15px;
                border-left: 1px solid #666666;
                span{
                    text-align: center;
                    width: 100%;
                    display: block;
                    line-height: 18px;
                    font-size: 12px;
                    color: #464646;
                }
            }
        }
    }
}
/* footer */
.footer{
    height: 45px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: #999;
        font: 12px/44px;
        a{
            color: #999;
            font: 12px/44px;
        }
    }
}